---
layout: default
---

{% include nav.html %}

<div
  class="column is-5 has-text-centered is-hidden-tablet"
  style="padding: 30px"
>
  <div
    style="justify-content: center; align-items: center"
    class="is-hidden-tablet"
  >
    <img src="HosterrStarterFiles/Assets/composed.png" class="index-image" />
  </div>
</div>

<div class="columns main-columns is-vcentered" style="margin: 40px 0">
  <div class="column is-7">
    <div class="content-container">
      <h1>Host your website in less than 5 minutes.</h1>
      <p>
        With Hosterr, get your website up and running in no less than 5 minutes
        with the most competitive pricing packages available online.
      </p>
      <br />
      <div class="field is-grouped is-tablet">
        <p class="control is-expanded">
          <input
            class="input is-medium"
            type="text"
            placeholder="Enter e-mail address"
          />
        </p>
        <p class="control">
          <a class="button is-info is-medium primary-button">
            <strong>Join Waitlist</strong>
          </a>
        </p>
      </div>
      <div class="is-vcentered">
        <img
          src="HosterrStarterFiles/Assets/Checkmark.svg"
          style="margin-right: 8px; position: relative; top: 4px"
        />
        <span>No spam, ever. Unsubscribe anytime.</span>
      </div>
    </div>
  </div>
  <div
    class="column is-hidden-mobile is-5 has-text-centered"
    style="padding: 30px"
  >
    <div style="justify-content: center; align-items: center">
      <img src="HosterrStarterFiles/Assets/composed.png" class="index-image" />
    </div>
  </div>
</div>

{% include footer.html %}
