<div class="container">
  <div class="columns is-tablet">
    <div class="column is-8 footer-links">
      <a href="#" class="navbar-item">Facebook</a>
      <a href="#" class="navbar-item">Instagram</a>
      <a href="#" class="navbar-item">Twitter</a>
    </div>
    <div
      class="column is-4 align-right is-justify-content-right"
      style="float: right"
    >
      <div class="columns is-mobile">
        <div class="column is-2 author-image">
          <img src="../HosterrStarterFiles/Assets/Help Avatar.svg" />
        </div>
        <div class="column is-10">
          <h4>Have any questions?</h4>
          <h4><strong>Talk to a specialist</strong></h4>
        </div>
      </div>
    </div>
  </div>
</div>
