<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img
        src="../HosterrStarterFiles/Assets/Logo.svg"
        width="112"
        height="28"
      />
      <a class="button hiring-button is-rounded is-small nav-gradient-button">
        Hosterr is hiring!
      </a>
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item"></div>
    </div>

    <div class="navbar-center">
      <a class="navbar-item"> Plans </a>
      <a class="navbar-item"> Find Domain </a>
      <a class="navbar-item"> Why Hosterr </a>
    </div>

    <div class="navbar-end">
      <a href="#" class="navbar-item">Sign in</a>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info is-medium primary-button">
            <strong>Join Waitlist</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0
    );

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle("is-active");
          $target.classList.toggle("is-active");
        });
      });
    }
  });
</script>
